<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Данные для подключения -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!-- src/main/main.resources/hibernate.cfg.template.xml -->
        <property name="hibernate.connection.url">${DB_URL}</property>
        <property name="hibernate.connection.username">${DB_USER}</property>
        <property name="hibernate.connection.password">${DB_PASS}</property>

        <!-- Диалект -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Поведение -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">false</property>

        <!-- Классы сущностей -->
        <mapping class="com.pricemonitorbot.model.dataclasses.AppInfo"/>
        <mapping class="com.pricemonitorbot.model.dataclasses.PriceInfo"/>

    </session-factory>
</hibernate-configuration>
